{% extends 'base.html' %}

{% block titulo %}

{% endblock %}

{% block content %}
<!-- Template con nuestro código de los formularios para crear el perfil -->
<p>
	Porfavor, registrate para poder acceder a la consejería privada para brindar apoyo a nuestros aprendices con problemas de adicción y demás.
</p>
	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ formulario_1.as_p }}
		{{ formulario_2.as_p }}
		<button style="margin-bottom: 10px;" type="submit" class="btn btn-outline-success">Crear Perfil</button>
	</form>

{% endblock %}