{% extends 'base.html' %}

{% block titulo %}
   
   


{% endblock %}

{% block content %}
<!-- Template que contiene nuestra página de bienvenida a los usuarios -->
<div class="container">
    

<h2 style="text-align: center; color: #4ec352e6; font-style: oblique;">Centro de ayuda psicologica para aprendices</h2>

<p>
	El Sena regional cauca (CTPI) y en conjunto con bienestar al aprendiz, ofrecemos ayuda psicológica para todas las personas que sufran padecimientos de adicción a las sustancias psicoactivas y que estén activos en nuestra Institución.
</p>
<br>
<p class="texto2">
	El uso de sustancias psicoactivas en algunas situaciones pueden causar:
</p>

<p>
    <p class="texto1">  
	EN EL TRABAJO
    </p>
    Problemas de concentración, pérdida de noción del tiempo, alucinaciones y deformación de la percepción de la realidad.
</p>
<br>
<p>
     <p class="texto1">  
    EN EL HOGAR
    </p>
     Problemas intra familiares a causa de las drogas, cambios de personalidad y alteraciones emocionales.
</p>
<br>
<p>
     <p class="texto1">  
    CON AMIGOS
    </p>
     Conflictos causados por la desrealización, peleas, cometer actos vandálicos, entre otros.
</p>
<br>
<p>
    En nuestro centro de aprendizaje SENA: problemas de ansiedad, pérdidas momentaneas de tus acciones, problemas para organizar la información recibida en clase, etc.
</p>

</div>
        


	
{% endblock %}