{% extends 'base.html' %}
{% block titulo %}
{% endblock %}
{% block content %}
<!-- Template que nos muestra los datos de la Tabla Centros -->
	<h1 class="lista1" style="color: #d8d41d;">Centros de ayuda</h1>
		
			
	<table class="table">
  <thead class="thead thead-light">
    <tr>
      <th class="lista" scope="col">Nombre</th>
      <th class="lista" scope="col">Ubicación</th>
      <th class="lista" scope="col">Telefono</th>
    </tr>
  </thead>
	{% for b in lista3 %}
  <tbody style="border-color: green;">
    <tr>
      <td class="lista3">{{ b.nombre }}</td>
      <td class="lista2">{{ b.ubicacion }}</td>
      <td class="lista2">{{ b.telefono }}</td>
      <td> <img src="/static/imagenes/bienestar.png" width="100" height="70">
    <br>
     {% if user.is_authenticated and user.is_superuser %}
      <!-- Codigo comentado que nos muestra la información de cada item de la lista por si queremos algo más detallado -->
      <!-- <a class="arreglo2" href="/ver_droga/{{c.id}}">Info</a> -->
       <a class="arreglo2" href="/editar_centros/{{ b.id }}">Editar</a>
       <a class="arreglo2" href="/eliminar_centros/{{ b.id }}">Eliminar</a>
    {% endif %}</td>
    </tr>
     
  </tbody>
  {% endfor %}
</table>
		
{% endblock %}